version: '2'
services:
  nginx:
    image: nginx:1.13
    ports:
    - 8080:80
    networks:
    - qgis
    volumes:
    - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    - ./map.html:/usr/share/nginx/html/index.html:ro
    depends_on:
{%- for i in range(REPLICAS | int) %}
    - qgis-exec-{{ i }}
{%- endfor %}
{%- for i in range(REPLICAS | int) %}
  qgis-exec-{{ i }}:
    image: qgis-exec:latest
    networks:
    - qgis
    volumes:
    - ./data:/data:ro
    entrypoint:
    - "/tini"
    - "--"
    command: /usr/bin/xvfb-run --auto-servernum --server-num=1 /usr/bin/spawn-fcgi -p 555{{ i }} -n -d /home/qgis -- /usr/lib/cgi-bin/qgis_mapserv.fcgi
    environment:
    - QGIS_SERVER_LOG_LEVEL=5  # INFO (log all requests)
    - DEBUG=1                  # display env before spawning QGIS Server
    - QGIS_DEBUG=2
    - QGIS_SERVER_PARALLEL_RENDERING={{ QGIS_SERVER_PARALLEL_RENDERING }}
{%- endfor %}
networks:
  qgis: {}
